OrdersService/node_modules
OrdersService/.env

PaymentService/node_modules
PaymentService/.env

ShippingService/node_modules
ShippingService/.env

OrchestratorService/node_modules
OrchestratorService/.env

CatalogService/target

3.txt
jwt.txt